@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Sarabun', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 3rem;
    margin: 50px;
}

.entryHistory {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    flex: 1;
    max-width: 500px;
    background-image: linear-gradient(#C490D1, #ACACDE, #ABDAFC);
    padding: 3rem;
    border-radius: 20px;
    height: 100%;
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    height: 80px;
    position: relative;
    color: #B8336A;
    cursor: pointer;
}

.entry:after {
    content:"";
    background-color:#fff;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:1;
    bottom:-20px;
    right:-22px;
    width:25px;
    height:25px;
}


.entryDate p, .entryTitle p {
    font-size: 14px;
}

.currentEntry {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 680px;
    background-image: linear-gradient(#C490D1, #ACACDE, #ABDAFC);
    color: white;
    padding: 3rem;
    border-radius: 20px;
    height: 100%;
    position: relative;
}

.currentEntry img {
    width: 150px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.userRes p,
.entryContent p {
    font-size: 25px;
}

.noEntries {
    font-size: 25px;
    color: white;
}