@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Sarabun', sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 3rem;
    margin: 50px;
}

.entryHistory {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    flex: 1;
    max-width: 500px;
    background-image: linear-gradient(#C490D1, #ACACDE, #ABDAFC);
    padding: 3rem;
    border-radius: 20px;
    height: 100%;
    filter: drop-shadow(0 0 20px rgba(188, 19, 177, 0.4));
}

.containerTitle {
    color: #B8336A;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    z-index: 2;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    min-width: 250px;
    min-height: 80px;
    font-weight: 550;
    position: relative;
    color: #B8336A;
    cursor: pointer;
    z-index: 5;
}

.entry:after {
    content:"";
    background-color:#fff;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:1;
    bottom:-20px;
    right:-22px;
    width:25px;
    height:25px;
}


.entry p {
    font-size: 16px;
}

.currentEntry {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    background-image: linear-gradient(#C490D1, #ACACDE, #ABDAFC);
    height: auto;
    color: white;
    padding: 3rem;
    border-radius: 20px;
    filter: drop-shadow(0 0 20px rgba(188, 19, 177, 0.4));
}

.currentEntry p {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 550;
}

.userRes {
    color: #3549ba;
}

.entryDate{
    color: #3549ba;
}

.noEntries {
    font-size: 25px;
    color: white;
}

.speechBubbleContainerDJ {   
    position: fixed;
    top: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  
  .speechBubbleContainerDJ p {
    position: fixed;
    top: 395px;
    left: 15px; 
    font-size: 10.5px;
    font-weight: 650;
    color: var(--primary);
    text-align: center;
    color: #000;
  }


  @media screen and (max-width: 768px){


    .entryHistory {
        align-items: center;
        flex: 1;
        max-width: 300px;
    }
    
    .containerTitle {
        font-size: 35px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    
    .speechBubbleContainerDJ {
        top: 650px;
        left: 20px;
        width: 190%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .speechBubbleContainerDJ p {
        position: fixed;
        top: 700px;
        left: 35px;
        font-size: 11px;
        text-align: center;
        margin: 0;
        color: #000;
      }
    }
    
    


@media screen and (max-width: 600px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .entryHistory {
        max-width: 600px;
        height: 100%;
    }

    .containerTitle {
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .entry {
        min-width: 50px;
        min-height: 50px;
    }

    .entry:after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -20px;
        right: -22px;
        width: 25px;
        height: 25px;
    }

    .entry p {
        font-size: 12px;
    }

    .currentEntry {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .currentEntry p,
    .entry p {
        margin-top: 15px;
        font-size: 25px;

    }

    .noEntries {
        font-size: 15px;
    }

    .speechBubbleContainerDJ {
        display: none;
    }
}

@media screen and (max-width: 450px){
    
    .containerTitle {
        font-size: 25px;
    }
    
    .entry {
     padding-top: 5px;
     padding-bottom: 10px;
    }
    
    .entry p {
        font-size: 16px;
    }
    
    
    .currentEntry p {
        font-size: 18px;
    }

    .entryDate{
        color: #3549ba;
    }
    
    
    .noEntries {
        font-size: 16px;
    }
    
   
    .speechBubbleContainerDJ {
        top: 480px;
        left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      
      .speechBubbleContainerDJ p {
        position: fixed;
        top: 505px;
        left: 20px;
        font-size: 5px;
      }
    }
